<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="margin:0;padding:0;background:#fff">
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#ddd">
        <tbody>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" align="center" width="670" style="background:#fff;border:0;border-left:1px solid #ccc;border-right:1px solid #ccc">
                    <tbody>
                    <tr>
                        <td> <a target="_blank" style="border:none;color:#0084b4;text-decoration:none" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}"><span></span></a>
                            <table cellspacing="0" cellpadding="0" border="0" width="670" style="background:#f2f2f2;table-layout:fixed">
                                <tbody>
                                <tr>
                                    <td style="width:19px;height:77px"> &nbsp; </td>
                                    <td height="94" width="46" valign="top" style="background:#fff;line-height:100%" rowspan="2"><a target="_blank" style="border:none;color:#0084b4;text-decoration:none" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}"><img height="94" width="46" style="border:0;line-height:100%;border:0" src="https://ci3.googleusercontent.com/proxy/L-LM_VjLdaqkwjMaLU2uhPtKvyWt41WwJpC2XtaI3z79YKke9em1J4sAAZ5bOlwanxJTqnS-Cxi0RvQfwTo=s0-d-e1-ft#https://ea.twimg.com/email/t1/ribbon.png" class="CToWUd"></a></td>
                                    <td width="9"> &nbsp; </td>
                                    <td height="77" width="10"> &nbsp; </td>
                                    <td height="77" width="458" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:14px;font-weight:bold;color:#000"> <span dir="ltr">${userName},</span> </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;color:#666"> Please confirm your Twitter account </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                    <td height="77" width="10"> &nbsp; </td>
                                    <td width="32" style="text-align:right"> </td>
                                    <td style="width:85px"></td>
                                </tr>
                                <tr>
                                    <td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">&nbsp;</td>
                                    <td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">&nbsp;</td>
                                    <td height="17" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"><img height="1" width="1" src="https://ci4.googleusercontent.com/proxy/jSaCjm5f0IJXQu41R9w2GamM5Bzv4Kd7yV7VeOCMIO4iwqEApqpvCbKil0E2fa-Vg-ZRbGmY58p9IUZsqQIbWkO0YCnVwcle7C47pHRetTdbVo1Pl_6jbHwQcrJ0WsYIvCRLhcB_rjVypyKILzxKaHZeA0I=s0-d-e1-ft#https://twitter.com/scribe/ibis?uid=1724841512&amp;iid=am-37902443013781971276290953&amp;nid=18+20&amp;t=1" style="display:block;border:0" class="CToWUd"></td>
                                    <td height="17" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" colspan="4">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td rowspan="3"></td>
                    </tr>
                    <tr>
                        <td style="background:#fff">
                            <table cellspacing="0" cellpadding="0" border="0" width="670" style="background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                <tbody>
                                <tr>
                                    <td style="width:85px"></td>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px"> Confirming your account will give you <b>full access to Twitter</b> and all future notifications will be sent to this email address. </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333">
                                                    <table cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <table cellspacing="0" cellpadding="0" border="0" background="https://ci4.googleusercontent.com/proxy/ON9ftI9WfB_hTnTXqv6YxggkGAWfpNBa82wM_5S86FNvtUsLi2JufoQ2y-olWc3ItXNW3UYhjhJ5wS14h00BPmM=s0-d-e1-ft#https://ea.twimg.com/email/t1/button_bg.png" style="white-space:nowrap;background-color:#33a9e5;border-radius:5px;border:1px solid #2288cc;padding:5px 0 5px 0;text-align:center;height:28px">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td align="center" style="color:#ffffff;font-size:13px;font-weight:bold;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;white-space:nowrap;padding-left:30px;padding-right:30px"><span><a target="_blank" style="border:none;color:#0084b4;text-decoration:none;color:#ffffff;font-size:13px;font-weight:bold;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}">Confirm your account now</a></span></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px"> Or click the link below:<br> <a target="_blank" style="border:none;color:#0084b4;text-decoration:none" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}">https://twitter.com/account/<wbr></wbr>confirm_email/<wbr></wbr>G8559-HHGG2-137819</a> </td>
                                            </tr>
                                            <tr>
                                                <td height="25"></td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                    <td style="width:85px"></td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" width="670" style="background-color:#eee;background-image:url('https://ci6.googleusercontent.com/proxy/TKwb6TYeKHQNnI2wGRuep7TuysRHZXEKaG0cXKa0mPMl47tBroafUI6lTdTV-b3RDQpVxVQZ9bx8csJJ17xfi46NtMrJ=s0-d-e1-ft#https://ea.twimg.com/email/t1/shadow-bottom.jpg');background-position:top;background-repeat:repeat-x;border-top-color:#ddd;border-top-style:solid;border-top-width:1px">
                                <tbody>
                                <tr>
                                    <td height="16" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td style="width:85px"></td>
                                    <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:17px;color:#777">
                                        <div>
                                            Forgot your Twitter password?
                                            <a target="_blank" style="border:none;color:#0084b4;text-decoration:none" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}">Get instructions on how to reset it.</a>
                                        </div>
                                        <div>
                                            If you received this message in error and did not sign up for Twitter, click
                                            <a target="_blank" style="border:none;color:#0084b4;text-decoration:none" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}">not my account</a>.
                                        </div>
                                        <div>
                                            <a style="border:none;color:#0084b4;text-decoration:none;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-decoration:none;font-size:11px;line-height:17px;color:#999999" href="http://sesim-portal16.rhcloud.com/se-sim/learning-portal/phished/${user}/${campaign}">Twitter, Inc. 1355 Market St., Suite 900 <span style="white-space:nowrap">San Francisco, CA 94103 </span></a>
                                        </div> </td>
                                    <td style="width:85px"></td>
                                </tr>
                                <tr>
                                    <td height="25" colspan="3"></td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <img height="1" width="1" style="border:0" src="https://ci4.googleusercontent.com/proxy/Krk5Z_MRUSF90LH5hPNyRdpPLdp8CDfxX2p3PIldYw2GkxBM2EU=s0-d-e1-ft#http://loadimage" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div>

</body>
</html>
